.journalize-preview-ui {
  display: none !important;
}

.tel_support {
  display: none !important;
}

#chatbot-container {
  display: none !important;
}

#footer {
  display: none !important;
}

.header-title-freee-app-store {
  display: none !important;
}

section > .vb-marginBase.vb-mb100 > .vb-listCard {
  display: none !important;
}

.notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 300px !important;
  z-index: 99999;
}
